$background-color: #FFF;
$text-color: #000;

.btn-outline-light {
  color: #444;
  border-color: #f8f9fa
}

.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.btn-outline-light.focus, .btn-outline-light:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #AAA;
  background-color: transparent
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}




.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: .25rem;
  background-color: #000;
  border-radius: 1rem;
  border-color: #000 !important
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem
}

.divider-custom .divider-custom-icon {
  color: #000 !important;
  font-size: 2rem
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #000;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}


// HEAD tag

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .masthead-subheading {
    font-size: 1.25rem;
  }

  .masthead-avatar {
    width: 15rem;
  }
}



@media (min-width:992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem
    }

    .masthead-subheading {
      font-size: 1.5rem
    }
  }
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center
}


// HEAD tag end


// FEATURES VIDEOS

.overflow-hidden {
  overflow: hidden;
  display: flex;
}

.grid-video-link{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
}


// .overlay-info {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   pointer-events: none;
// }

// FEATURES VIDEOS - END

// .portfolio {
//   padding-top: 6rem;
//   padding-bottom: 4.5rem
// }

section#portfolio {
  margin-left: 50px;
  margin-right: 50px;

  .row {
    // margin-right: 0px;
    // margin-left: 0px;

    > div {
      padding-right: 0;
      padding-left: 0;
    }
  }

  a {
    font-size: 15px;
    display: flex;
    &:hover{
      color: #fff;
      font-size: 15px;
    }
  }

  span {
    text-transform: uppercase;
  }

  .project-title {
    font-weight: bold;
  }

  .project-description {
    color: rgba(255, 255, 255, 0.6);
  }

  img {
    width: 100%;
    object-fit: cover;
    &.zoom {
      transition: transform .5s; /* Animation */
      &:hover{
        transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
    }
  }
}


.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none
}



#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400
}

#mainNav .navbar-brand {
  color: #000
}

#mainNav .navbar-nav {
  margin-top: 1rem
}

#mainNav .navbar-nav li.nav-item a.nav-link {

}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #000
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #000
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: .8rem
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s, padding-bottom .3s
  }

  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size .3s
  }

  #mainNav .navbar-nav {
    margin-top: 0
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #000
  }

  #mainNav.navbar-shrink {
    padding-top: .5rem;
    padding-bottom: .5rem
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em
  }
}
